- hosts: webserver
  become: yes
  tasks:
  - name: Updating APT cache
    apt: update_cache=yes   

  - name: Creating group "tomcat"
    group: 
      name: tomcat

  - name: Creating user "tomcat"
    user: 
      name: tomcat 
      group: tomcat 
      createhome: yes
    become: true
  
  - name: Installing tomcat
    apt: 
      name: tomcat9 
      state: latest

  - name: Enrolling a certificate on Horizon for domain {{ domain }}
    evertrust.horizon.horizon_enroll:
      endpoint: "{{ horizon_endpoint }}"
      mode: "centralized"
      key_type: "{{ key_type }}"
      x_api_id: "{{ api_id }}"
      x_api_key: "{{ api_key }}"
      profile: "{{ profile }}"
      subject:
        cn.1: "{{ domain }}"
        ou.1: "Web Server"
      sans:
        dnsname.1: "{{ domain }}"
        dnsname.2: "www.{{ domain }}"
      labels:
        business_unit: "{{ business_unit }}"
        ansible_host: "{{ ansible_host }}"
      contact_email: "{{ contact_email }}"
    register: enrolled_certificate

  - name: Looking up for enrolled certificate in Horizon
    set_fact:
      lookup_result: "{{ lookup('evertrust.horizon.horizon_lookup', pem=enrolled_certificate['certificate'], x_api_id=api_id, x_api_key=api_key, endpoint=horizon_endpoint) }}"

  - name: Creating the tomcat directory
    file:
      path: /etc/tomcat9
      state: directory
      mode: '0775'
      owner: "tomcat"
      group: "tomcat"

  - name: Creating the SSL directory
    file:
      path: /etc/tomcat9/ssl
      state: directory
      mode: '0775'
      owner: "tomcat"
      group: "tomcat"

  - name: Uploading the {{ domain }} certificate
    copy:
      content: "{{ enrolled_certificate['certificate'] }}"
      dest: "/etc/tomcat9/ssl/{{ domain }}.crt"
      mode: '0660'
      owner: tomcat 
      group: tomcat 
    
  - name: Uploading the {{ domain }} private key
    copy:
      content: "{{ enrolled_certificate['key'] }}"
      dest: "/etc/tomcat9/ssl/{{ domain }}.key"
      mode: '0660'
      owner: tomcat 
      group: tomcat

  - name: Deploying the {{ domain }} index page
    template:
      src: ../templates/index.html.j2
      dest: "/var/lib/tomcat9/webapps/ROOT/index.html"
      owner: "www-data"
      group: "www-data"
      mode: '0644'

  - name: Uploading the tomcat configuration
    template: 
      src: ../templates/tomcat.server.xml.j2
      dest: /etc/tomcat9/server.xml

  - name: Restarting tomcat
    service:
      name: tomcat9
      state: restarted

  - name: Waiting for the tomcat service to start
    wait_for: 
      port: 8443

